### ë°ì´í„° ì…‹

In [1]:
import pandas as pd
import numpy as np

# ì„¼ì„œ ë°ì´í„° (1ì‹œê°„ ë™ì•ˆ 5ë¶„ ê°„ê²©)
sensor = pd.DataFrame({
    'timestamp': pd.date_range('2024-01-01 09:00', periods=12, freq='5min'),
    'machine_id': ['M001']*6 + ['M002']*6,
    'temperature': [35.0, 36.2, 38.5, 40.1, 39.8, 37.5,  # M001
                    42.0, 43.5, 45.0, 44.2, 43.0, 41.5]  # M002
})

print(sensor)

             timestamp machine_id  temperature
0  2024-01-01 09:00:00       M001         35.0
1  2024-01-01 09:05:00       M001         36.2
2  2024-01-01 09:10:00       M001         38.5
3  2024-01-01 09:15:00       M001         40.1
4  2024-01-01 09:20:00       M001         39.8
5  2024-01-01 09:25:00       M001         37.5
6  2024-01-01 09:30:00       M002         42.0
7  2024-01-01 09:35:00       M002         43.5
8  2024-01-01 09:40:00       M002         45.0
9  2024-01-01 09:45:00       M002         44.2
10 2024-01-01 09:50:00       M002         43.0
11 2024-01-01 09:55:00       M002         41.5

### ë°ì´í„° íƒ€ì…, ê¸°ë³¸ë¶„ì„

In [2]:
print(sensor.info())
print()
print(sensor.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    12 non-null     datetime64[ns]
 1   machine_id   12 non-null     object
 2   temperature  12 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 420.0+ bytes
None

                           timestamp  temperature
count                             12    12.000000
mean   2024-01-01 09:27:29.999999744    40.525000
min              2024-01-01 09:00:00    35.000000
25%              2024-01-01 09:13:45    38.250000
50%              2024-01-01 09:27:30    40.800000
75%              2024-01-01 09:41:15    43.125000
max              2024-01-01 09:55:00    45.000000
std                              NaN     3.230853

In [3]:
# mechine_idì˜ ì¡°íšŒ, ì´ìš© ì„±ëŠ¥ í•­ìƒ¹ì„ ìœ„í•´ ë°ì´í„°í˜• ë°”ê¾¼ë‹¤.
sensor['machine_id']= sensor['machine_id'].astype('string') # ê²°ì¸¡ì¹˜ê°€ ì—†ì–´ì„œ í•´ë‹¹ìœ¼ë¡œ ì ìš©ê°€ëŠ¥  ğŸš 'String'ìœ¼ë¡œ ì ì–´ì•¼í•¨.
# ğŸš to_strëŠ” ì—†ëŠ”ê±°ê°™ë˜ë°? -> ì—†ìŒ.

print(sensor.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    12 non-null     datetime64[ns]
 1   machine_id   12 non-null     string
 2   temperature  12 non-null     float64
dtypes: datetime64[ns](1), float64(1), string(1)
memory usage: 420.0 bytes
None

### ì „ì²´ 15ë¶„ ë‹¨ìœ„ í‰ê·  ì˜¨ë„
- ì‹œê°„ ë‹¨ìœ„ì˜ í‰ê·  ì˜¨ë„ë¥¼ êµ¬í•œë‹¤. ì‹œê°„ì„ ì¸ë±ìŠ¤ë¡œ í•˜ê³  resample('15m')ì„ í†µí•´ í‰ê·  ì˜¨ë„ë¥¼ êµ¬í•œë‹¤. ìƒˆë¡œìš´ í…Œì´ë¸” or ë¶™ì´ê¸°ë¡œ ê°ê°

In [4]:
sensor = sensor.set_index('timestamp')

In [5]:
sensor['15min_avr'] = sensor.resample('15T')['temperature'].mean() # ê³µë°± ì¡´ì¬í•¨. ì‹«ìœ¼ë©´ sensor.resample('15T')['temperature'].trasnform('mean') ğŸš ë¶„ì€ min or T ì£¼ì˜í• ê²ƒ. 
print(sensor)
print()
new_sensor = sensor.resample('15T')['temperature'].mean() # 15ë¶„ í‰ê· ë§Œ ì¡´ì¬í•˜ëŠ” í…Œì´ë¸” ìƒì„± 
print(new_sensor)

                    machine_id  temperature  15min_avr
timestamp
2024-01-01 09:00:00       M001         35.0  36.566667
2024-01-01 09:05:00       M001         36.2        NaN
2024-01-01 09:10:00       M001         38.5        NaN
2024-01-01 09:15:00       M001         40.1  39.133333
2024-01-01 09:20:00       M001         39.8        NaN
2024-01-01 09:25:00       M001         37.5        NaN
2024-01-01 09:30:00       M002         42.0  43.500000
2024-01-01 09:35:00       M002         43.5        NaN
2024-01-01 09:40:00       M002         45.0        NaN
2024-01-01 09:45:00       M002         44.2  42.900000
2024-01-01 09:50:00       M002         43.0        NaN
2024-01-01 09:55:00       M002         41.5        NaN

timestamp
2024-01-01 09:00:00    36.566667
2024-01-01 09:15:00    39.133333
2024-01-01 09:30:00    43.500000
2024-01-01 09:45:00    42.900000
Freq: 15min, Name: temperature, dtype: float64

/var/folders/bf/_c9d0b9571x410m1fmyxr4yh0000gn/T/ipykernel_48072/3718659051.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  sensor['15min_avr'] = sensor.resample('15T')['temperature'].mean() # ê³µë°± ì¡´ì¬í•¨. ì‹«ìœ¼ë©´ sensor.resample('15T')['temperature'].trasnform('mean') ğŸš ë¶„ì€ min or T ì£¼ì˜í• ê²ƒ.
/var/folders/bf/_c9d0b9571x410m1fmyxr4yh0000gn/T/ipykernel_48072/3718659051.py:4: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  new_sensor = sensor.resample('15T')['temperature'].mean() # 15ë¶„ í‰ê· ë§Œ ì¡´ì¬í•˜ëŠ” í…Œì´ë¸” ìƒì„±

### 3ê°œ ì´ë™ í‰ê·  ì»¬ëŸ¼ ì¶”ê°€
- ê°œìˆ˜ë¡œ ì´ë™í‰ê·  ì´ë‹ˆê¹Œ rolling(3).mean()ë‘ë©´ ë ë“¯. ìµœì†Œì •í•œê±°ë„ ì—†ê³  í”¼ì³ë¥¼ ìƒˆë¡­ê²Œ ìƒì„±í•˜ë©´ ë¨.

In [6]:
sensor['3AVG_Moving'] = sensor.rolling(3)['temperature'].mean()
sensor

                    machine_id  temperature  15min_avr  3AVG_Moving
timestamp
2024-01-01 09:00:00       M001         35.0  36.566667          NaN
2024-01-01 09:05:00       M001         36.2        NaN          NaN
2024-01-01 09:10:00       M001         38.5        NaN    36.566667
2024-01-01 09:15:00       M001         40.1  39.133333    38.266667
2024-01-01 09:20:00       M001         39.8        NaN    39.466667
2024-01-01 09:25:00       M001         37.5        NaN    39.133333
2024-01-01 09:30:00       M002         42.0  43.500000    39.766667
2024-01-01 09:35:00       M002         43.5        NaN    41.000000
2024-01-01 09:40:00       M002         45.0        NaN    43.500000
2024-01-01 09:45:00       M002         44.2  42.900000    44.233333
2024-01-01 09:50:00       M002         43.0        NaN    44.066667
2024-01-01 09:55:00       M002         41.5        NaN    42.900000

### ê¸°ê³„ë³„ + 15ë¶„ ë‹¨ìœ„ temperature í‰ê· 

- groupbyë¡œ machine_id,15ë¶„ë‹¨ìœ„ë¥¼ ë¬¶ì–´ì„œ ë‚˜íƒ€ë‚¸ë‹¤

In [7]:
# sensor['ê¸°ê³„ë³„_15ë¶„ì˜¨ë„í‰ê· ']= sensor.groupby('machine_id',as_index=False).resample('15T')['temperature'].transform('mean') #ğŸš ê°€ëŠ¥í•˜ê¸´í–ˆìœ¼ë‚˜ ë‹¤ë¥¸ë°©ë²•ë„ ì¡´ì¬í•œë‹¤. 
sensor = sensor.reset_index()
sensor['ê¸°ê³„ë³„_15ë¶„ì˜¨ë„í‰ê· ']=sensor.groupby(['machine_id',pd.Grouper(key='timestamp',freq='15min')])['temperature'].transform('mean')
sensor

,timestamp,machine_id,temperature,15min_avr,3AVG_Moving,ê¸°ê³„ë³„_15ë¶„ì˜¨ë„í‰ê·
0,2024-01-01 09:00:00,M001,35.0,36.566667,NaN,36.566667
1,2024-01-01 09:05:00,M001,36.2,NaN,NaN,36.566667
2,2024-01-01 09:10:00,M001,38.5,NaN,36.566667,36.566667
3,2024-01-01 09:15:00,M001,40.1,39.133333,38.266667,39.133333
4,2024-01-01 09:20:00,M001,39.8,NaN,39.466667,39.133333
5,2024-01-01 09:25:00,M001,37.5,NaN,39.133333,39.133333
6,2024-01-01 09:30:00,M002,42.0,43.500000,39.766667,43.500000
7,2024-01-01 09:35:00,M002,43.5,NaN,41.000000,43.500000
8,2024-01-01 09:40:00,M002,45.0,NaN,43.500000,43.500000
9,2024-01-01 09:45:00,M002,44.2,42.900000,44.233333,42.900000
10,2024-01-01 09:50:00,M002,43.0,NaN,44.066667,42.900000
11,2024-01-01 09:55:00,M002,41.5,NaN,42.900000,42.900000

### ì§ì „ ëŒ€ë¹„ 2ë„ ì´ìƒ ìƒìŠ¹ ì‹œì 

- ì‹œê°„ì˜ íë¦„ì— ë”°ë¼ ê°€ëŠë„« ì´ì „ë³´ë‹¤ 2ë„ì´ìƒì´ë©´ ë§í•˜ëŠ”ê±°ë©´ ì¢‹ê² ëŠ”ë° ë­ê°€ ìˆì„ë¼ë‚˜ í  ì•„ë‹ˆë©´ ì‹œê°„ì˜ íë¦„ìœ¼ë¡œ ì•ˆê°€ë”ë¼ë„ ì´ì „ê°’ì´ë‘ ë¹„êµí•˜ëŠ” í•¨ìˆ˜ëŠ”? 
- ğŸš diff()í•¨ìˆ˜ = í˜„ì¬ê°’ - ì´ì „ê°’ (ìë™ê³„ì‚°)
- ğŸš diff í˜•íƒœ : df['í”¼ì²˜ëª…'].diff() ìë™ìœ¼ë¡œ í•¨

In [ ]:
# ì§ì „ ëŒ€ë¹„ 2ë„ ì´ìƒ ì´ë©´ ì •ë ¬ì„ í•„ìˆ˜
sensor = sensor.sort_values(['machine_id','timestamp'],ascending=[True,True]) # ğŸšì •ë ¬ ìˆœì„œ ì¤‘ìš” 

# ì´ì „ê³¼ ë¹„êµí•´ì„œ 2ë„ ì´ìƒì¸ê±° ì²´í¬  ğŸš ì²« í–‰ì€ ë¹„êµí• ê²Œ ì—†ì–´ì„œ NaNë¼ fillna(0)í•´ì£¼ê¸°
sensor['ì´ì „ì˜¨ë„ë¹„êµ']= sensor['temperature'].diff().fillna(0) 
# ğŸš ìœ„ ì½”ë“œì˜ ì¹˜ëª…ì ì¸ ë‹¨ì  : idê°€ ë‹¬ë¼ì¡ŒëŠ”ë° ì˜¨ë„ë³€í™”ëŠ” ìˆë‹¤ê³  í•¨. ë”°ë¼ì„œ idë³„ë¡œ ê³„ì‚°ì„ ì§„í–‰í•´ì•¼í•œë‹¤. -> â­ï¸ ì´ê²Œ ë§ëŠ”ì½”ë“œ â­ï¸ sensor['ì´ì „ì˜¨ë„ë¹„êµ']= sensor.groupby('machine_id')['temperature'].diff().fillna(0)

# 2ë„ ì´ìƒ ì°¨ì´ë‚˜ëŠ”êµ¬ê°„ ì²´í¬
# np.select(ì¡°ê±´ë³€ìˆ˜,ê²°ê³¼ë³€ìˆ˜,default)
condition = [sensor['ì´ì „ì˜¨ë„ë¹„êµ'] >= 2,sensor['ì´ì „ì˜¨ë„ë¹„êµ'] <= -2]
result = ['2ë„ì´ìƒìƒìŠ¹','2ë„ì´í•˜í•˜ë½']
sensor['2ë„ì´ìƒìƒìŠ¹êµ¬ê°„'] = np.select(condition,result,default='ì •ìƒ')
sensor

,timestamp,machine_id,temperature,15min_avr,3AVG_Moving,ê¸°ê³„ë³„_15ë¶„ì˜¨ë„í‰ê·,ì´ì „ì˜¨ë„ë¹„êµ,2ë„ì´ìƒìƒìŠ¹êµ¬ê°„
0,2024-01-01 09:00:00,M001,35.0,36.566667,NaN,36.566667,0.0,ì •ìƒ
1,2024-01-01 09:05:00,M001,36.2,NaN,NaN,36.566667,1.2,ì •ìƒ
2,2024-01-01 09:10:00,M001,38.5,NaN,36.566667,36.566667,2.3,2ë„ì´ìƒìƒìŠ¹
3,2024-01-01 09:15:00,M001,40.1,39.133333,38.266667,39.133333,1.6,ì •ìƒ
4,2024-01-01 09:20:00,M001,39.8,NaN,39.466667,39.133333,-0.3,ì •ìƒ
5,2024-01-01 09:25:00,M001,37.5,NaN,39.133333,39.133333,-2.3,2ë„ì´í•˜í•˜ë½
6,2024-01-01 09:30:00,M002,42.0,43.500000,39.766667,43.500000,4.5,2ë„ì´ìƒìƒìŠ¹
7,2024-01-01 09:35:00,M002,43.5,NaN,41.000000,43.500000,1.5,ì •ìƒ
8,2024-01-01 09:40:00,M002,45.0,NaN,43.500000,43.500000,1.5,ì •ìƒ
9,2024-01-01 09:45:00,M002,44.2,42.900000,44.233333,42.900000,-0.8,ì •ìƒ
10,2024-01-01 09:50:00,M002,43.0,NaN,44.066667,42.900000,-1.2,ì •ìƒ
11,2024-01-01 09:55:00,M002,41.5,NaN,42.900000,42.900000,-1.5,ì •ìƒ

### ê¸°ê³„ë³„ ìµœê³  ì˜¨ë„ ì‹œì

In [ ]:
# 1. ê¸°ê³„ë³„ë¡œ ê·¸ë£¹í™”í•˜ë˜ temperature ê¸°ì¤€ max ë¬¶ëŠ”ë‹¤ ì´ê±°ë¥¼ í•˜ë‚˜ì˜ í”¼ì²˜ë¡œ ë§Œë“ ë‹¤
# 2. max_tempì™€ tempê°€ ì¼ì¹˜í• ë•Œì˜ timestampë¥¼ ì¶œë ¥í•œë‹¤

sensor['max_temp'] = sensor.groupby('machine_id')['temperature'].transform('max')
sensor[sensor['max_temp'] == sensor['temperature']][['timestamp','machine_id','max_temp']]

            timestamp machine_id  max_temp
3 2024-01-01 09:15:00       M001      40.1
8 2024-01-01 09:40:00       M002      45.0