### Day 5 Ïã§Ï†Ñ: Bosch ÏÉùÏÇ∞ ÎùºÏù∏ Îç∞Ïù¥ÌÑ∞ ÌååÏù¥ÌîÑÎùºÏù∏

Î™©Ìëú: Îç∞Ïù¥ÌÑ∞Í∞Ä ÎÑàÎ¨¥ ÌÅ¨Í≥† ÎçîÎü¨ÏõåÏÑú(Messy), ÏóëÏÖÄÏù¥ÎÇò SQLÎßåÏúºÎ°úÎäî Ï≤òÎ¶¨Í∞Ä Î∂àÍ∞ÄÎä•Ìïú ÏÉÅÌô©"**ÏùÑ PythonÏúºÎ°ú Ìï¥Í≤∞ÌïòÎäî Í≤É

ÏÉòÌîåÎßÅ(Ï†ÑÏ≤¥Î°úÎìúÍ∞Ä ÏïÑÎãå ÏùºÎ∂ÄÎßå ExecuteÎã®Í≥Ñ) -> Ï†ÑÏ≤òÎ¶¨(Tansform Îã®Í≥Ñ) -> Ï†ÅÏû¨(Load)

### # make_dummy_data.py ÏÉùÏÑ±

In [ ]:

import pandas as pd
import numpy as np

# Í∞ÄÏßú Bosch Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±Í∏∞
def create_bosch_dummy():
    print("üè≠ Í∞ÄÏßú Bosch Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ± Ï§ë...")
    
    # 1. 1Îßå Í∞úÏùò Î∂ÄÌíà(Ìñâ)Í≥º 10Í∞úÏùò ÏÑºÏÑú(Ïó¥)
    rows = 10000
    cols = 10
    
    # 2. ÎûúÎç§ Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±
    data = np.random.rand(rows, cols)
    columns = [f'L0_S{i}_F{i}' for i in range(cols)] # ÏÑºÏÑú Ïù¥Î¶Ñ ÌùâÎÇ¥
    
    df = pd.read_csv('bosch_dummy.csv') if False else pd.DataFrame(data, columns=columns)
    
    # 3. Îç∞Ïù¥ÌÑ∞ ÎçîÎüΩÌûàÍ∏∞ (Í≤∞Ï∏°Ïπò Ï£ºÏûÖ)
    # ÏÑºÏÑú 8, 9Î≤àÏùÄ 95%Í∞Ä Í≥†Ïû• ÎÇòÏÑú Îç∞Ïù¥ÌÑ∞Í∞Ä ÏóÜÎã§Í≥† Í∞ÄÏ†ï (NULL)
    df.loc[np.random.choice(df.index, int(rows*0.95)), 'L0_S8_F8'] = np.nan
    df.loc[np.random.choice(df.index, int(rows*0.95)), 'L0_S9_F9'] = np.nan
    
    # ÎÇòÎ®∏ÏßÄ ÏÑºÏÑúÎèÑ 10%Îäî Îç∞Ïù¥ÌÑ∞ ÎàÑÎùΩ
    for col in df.columns[:-2]:
        df.loc[np.random.choice(df.index, int(rows*0.1)), col] = np.nan
        
    # ID Ïª¨Îüº Ï∂îÍ∞Ä
    df['Id'] = range(1, rows + 1)
    
    # CSVÎ°ú Ï†ÄÏû•
    df.to_csv('bosch_dummy.csv', index=False)
    print("‚úÖ 'bosch_dummy.csv' ÏÉùÏÑ± ÏôÑÎ£å! (Ïù¥Í±∏Î°ú Ïã§ÏäµÌï©ÎãàÎã§)")

if __name__ == "__main__":
    create_bosch_dummy()

üè≠ Í∞ÄÏßú Bosch Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ± Ï§ë...
‚úÖ 'bosch_dummy.csv' ÏÉùÏÑ± ÏôÑÎ£å! (Ïù¥Í±∏Î°ú Ïã§ÏäµÌï©ÎãàÎã§)

### # bosch_etl.py ÏÉùÏÑ±

In [2]:
import pandas as pd

df=pd.read_csv("bosch_dummy.csv")

In [6]:
df.shape

(10000, 11)

In [ ]:
df.head()

,L0_S0_F0,L0_S1_F1,L0_S2_F2,L0_S3_F3,L0_S4_F4,L0_S5_F5,L0_S6_F6,L0_S7_F7,L0_S8_F8,L0_S9_F9,Id
0,0.719417,0.556814,0.891647,0.912597,0.653990,0.582378,NaN,0.455130,0.418928,NaN,1
1,0.421393,0.601506,0.750494,0.148548,0.816680,0.737502,0.627050,0.395478,NaN,0.674271,2
2,0.568945,NaN,0.213753,0.554280,0.901532,0.975378,0.721920,0.876001,NaN,NaN,3
3,0.647841,0.438675,0.890312,0.532701,0.461597,NaN,0.909841,0.933836,0.430833,0.731276,4
4,0.855930,0.724493,0.379115,NaN,0.521268,0.470247,0.090922,0.570496,NaN,NaN,5

In [5]:
df.describe()

,L0_S0_F0,L0_S1_F1,L0_S2_F2,L0_S3_F3,L0_S4_F4,L0_S5_F5,L0_S6_F6,L0_S7_F7,L0_S8_F8,L0_S9_F9,Id
count,9045.000000,9056.000000,9050.000000,9047.000000,9042.000000,9052.000000,9054.000000,9041.000000,3926.000000,3916.000000,10000.00000
mean,0.503283,0.501372,0.498451,0.499582,0.496494,0.496847,0.502176,0.502050,0.501763,0.500778,5000.50000
std,0.288280,0.288171,0.287324,0.288239,0.288905,0.288767,0.286135,0.289695,0.285152,0.287036,2886.89568
min,0.000058,0.000132,0.000115,0.000218,0.000050,0.000034,0.000052,0.000085,0.000002,0.000003,1.00000
25%,0.252288,0.253149,0.250563,0.248452,0.245233,0.248467,0.256216,0.248981,0.259167,0.251579,2500.75000
50%,0.507144,0.502810,0.495151,0.493488,0.497078,0.493653,0.504486,0.500325,0.496153,0.494238,5000.50000
75%,0.750854,0.752000,0.746328,0.749888,0.747238,0.742176,0.753426,0.751888,0.743778,0.742829,7500.25000
max,0.999787,0.999951,0.999905,0.999709,0.999961,0.999949,0.999907,0.999702,0.999937,0.999803,10000.00000

In [15]:
df.info()

# Í≤∞Ï∏°Ïπò Ïàò ÌôïÏù∏Ïö©
df.isna().sum(axis=0)/len(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   L0_S0_F0  9045 non-null   float64
 1   L0_S1_F1  9056 non-null   float64
 2   L0_S2_F2  9050 non-null   float64
 3   L0_S3_F3  9047 non-null   float64
 4   L0_S4_F4  9042 non-null   float64
 5   L0_S5_F5  9052 non-null   float64
 6   L0_S6_F6  9054 non-null   float64
 7   L0_S7_F7  9041 non-null   float64
 8   L0_S8_F8  3926 non-null   float64
 9   L0_S9_F9  3916 non-null   float64
 10  Id        10000 non-null  int64
dtypes: float64(10), int64(1)
memory usage: 859.5 KB

L0_S0_F0    0.0955
L0_S1_F1    0.0944
L0_S2_F2    0.0950
L0_S3_F3    0.0953
L0_S4_F4    0.0958
L0_S5_F5    0.0948
L0_S6_F6    0.0946
L0_S7_F7    0.0959
L0_S8_F8    0.6074
L0_S9_F9    0.6084
Id          0.0000
dtype: float64

In [19]:
import pandas as pd
from sqlalchemy import create_engine

# [1] DB Ïó∞Í≤∞ ÏÑ§Ï†ï (Ìè¨Ìä∏ 5430 Ï£ºÏùò!)
# docker-compose.ymlÏóê ÏÑ§Ï†ïÌïú ÎπÑÎ≤à(postgres ÌòπÏùÄ pass1234) ÌôïÏù∏ ÌïÑÏàò
# ÌòïÏãù: postgresql://ÏïÑÏù¥Îîî:ÎπÑÎ≤à@Ï£ºÏÜå:Ìè¨Ìä∏/DBÏù¥Î¶Ñ
db_connection_str = 'postgresql://analyst:pass1234@localhost:5430/manufacturing'
db_engine = create_engine(db_connection_str)

# ÌååÏù¥ÌîÑ ÎùºÏù∏ Ìï®Ïàò ÏÉùÏÑ±
def run_bosch_pipeline():
    print("Bosch Îç∞Ïù¥ÌÑ∞ ÌååÏù¥ÌîÑÎùºÏù∏ ÏãúÏûë")
    
    # ---------------------------------------------------------
    # Step 1: Ï∂îÏ∂ú : Extract & Sampling (ÎßõÎ≥¥Í∏∞)
    # ---------------------------------------------------------
    print("1. Îç∞Ïù¥ÌÑ∞ ÏùΩÍ∏∞ (Sampling)...")
    # Ïã§Ï†úÎ°úÎäî ÏàòÍ∏∞Í∞ÄÍ∞ÄÎ∞îÏù¥Ìä∏ÏßÄÎßå, nrowsÎ°ú ÏùºÎ∂ÄÎßå ÏùΩÍ±∞ÎÇò sampleÏùÑ ÏîÄ
    # Ïó¨Í∏∞ÏÑ† Ïö∞Î¶¨Í∞Ä ÎßåÎì† dummy Îç∞Ïù¥ÌÑ∞Î•º ÏùΩÏùå
    df = pd.read_csv('bosch_dummy.csv',nrows=1000) # ,nrow=nÏùÑ ÌïòÎ©¥ ÏÉòÌîåÎßÅÌï† Îç∞Ïù¥ÌÑ∞ nÍ∞úÎ•º ÏùòÎØ∏ÌïúÎã§. 
    print(f"    -> Ï∂îÏ∂úÌïú  Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞: {df.shape} (Ìñâ,Ïó¥)")
    
    # ---------------------------------------------------------
    # Step 2: Ï†ÑÏ≤òÎ¶¨ : Transform (Ïç©ÏùÄ Í∑§ Í≥®ÎùºÎÇ¥Í∏∞)
    # ---------------------------------------------------------
    print("2. Í≤∞Ï∏°Ïπò Î∂ÑÏÑù Î∞è Ï†úÍ±∞ Ï§ë...")
    
    # Í∞Å ÏÑºÏÑú(Ïª¨Îüº)Î≥ÑÎ°ú ÎπÑÏñ¥ÏûàÎäî Í∞í(NULL)Ïùò ÎπÑÏú® Í≥ÑÏÇ∞
    missing_ratio = df.isna().sum(axis=0) / len(df) * 100
    
    # Í≤∞Ï∏°ÏπòÍ∞Ä 50% Ïù¥ÏÉÅÏù∏ 'Í≥†Ïû•ÎÇú ÏÑºÏÑú Ï∞æÍ∏∞'
    bad_sensor = missing_ratio[missing_ratio >= 50].index
    # Q1. .indexÎ°úÌïòÎ©¥ Ïñ¥Ï∞å ÎÇòÌÉÄÎÇòÎäîÍ±∞ÏûÑ?
    print(f"50% Ïù¥ÏÉÅ Ïò§Î•òÏù∏ ÏÑºÏÑú Î∞úÍ≤¨ {list(bad_sensor)}")
    
    # Ìï¥Îãπ ÎÇòÏÅú ÏÑºÏÑú delete
    df_clean = df.drop(columns=bad_sensor,axis=0)
    print(f"ÎÇòÏÅú ÏÑºÏÑú ÏÇ≠Ï†ú & ÎÇ®ÏùÄ Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞Îäî {df_clean.shape}")
    
    # Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨ 
    df_clean = df_clean.fillna(0) 
    
    # ---------------------------------------------------------
    # Step 3: Load (Ï∞ΩÍ≥† Ï†ÅÏû¨)
    # ---------------------------------------------------------
    print("3. DB Ï†ÅÏû¨ Ï§ë...")
    
    # 'bosch_production' Ïù¥ÎùºÎäî ÌÖåÏù¥Î∏îÎ°ú Ï†ÄÏû•
    df_clean.to_sql(name='bosch_production',con=db_engine,if_exists='replace', index=False)
    #Q2. conÏùÄ Î≠êÏûÑ? 
    print("‚úÖ ÌååÏù¥ÌîÑÎùºÏù∏ ÏÑ±Í≥µ! 'bosch_production' ÌÖåÏù¥Î∏îÏùÑ ÌôïÏù∏ÌïòÏÑ∏Ïöî.")
    
if __name__ == "__main__":
    run_bosch_pipeline()

Bosch Îç∞Ïù¥ÌÑ∞ ÌååÏù¥ÌîÑÎùºÏù∏ ÏãúÏûë
1. Îç∞Ïù¥ÌÑ∞ ÏùΩÍ∏∞ (Sampling)...
    -> Ï∂îÏ∂úÌïú  Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞: (1000, 11) (Ìñâ,Ïó¥)
2. Í≤∞Ï∏°Ïπò Î∂ÑÏÑù Î∞è Ï†úÍ±∞ Ï§ë...
50% Ïù¥ÏÉÅ Ïò§Î•òÏù∏ ÏÑºÏÑú Î∞úÍ≤¨ ['L0_S8_F8', 'L0_S9_F9']
ÎÇòÏÅú ÏÑºÏÑú ÏÇ≠Ï†ú & ÎÇ®ÏùÄ Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞Îäî (1000, 9)
3. DB Ï†ÅÏû¨ Ï§ë...
‚úÖ ÌååÏù¥ÌîÑÎùºÏù∏ ÏÑ±Í≥µ! 'bosch_production' ÌÖåÏù¥Î∏îÏùÑ ÌôïÏù∏ÌïòÏÑ∏Ïöî.