### Îç∞Ïù¥ÌÑ∞ÏÖã

In [1]:
import pandas as pd
import numpy as np

# ÏÑºÏÑú Î°úÍ∑∏ Îç∞Ïù¥ÌÑ∞
sensor_logs = pd.DataFrame({
    'log_id': [1, 2, 3, 4, 5, 6, 7, 8],
    'machine_id': ['M001', 'M001', 'M002', 'M002', 'M001', 'M003', 'M003', 'M002'],
    'timestamp': ['2024-01-01 09:00', '2024-01-01 09:05', '2024-01-01 09:00', 
                  '2024-01-01 09:10', '2024-01-01 09:10', '2024-01-01 09:00',
                  '2024-01-01 09:05', '2024-01-01 09:15'],
    'temperature': [35.2, 38.5, 42.1, np.nan, 36.0, 55.0, 58.3, 40.0],
    'status': ['normal', 'normal', 'warning', 'warning', 'normal', 'critical', 'critical', 'normal']
})

# Í∏∞Í≥Ñ Ï†ïÎ≥¥
machines = pd.DataFrame({
    'machine_id': ['M001', 'M002', 'M003'],
    'machine_name': ['ÌîÑÎ†àÏä§A', 'ÌîÑÎ†àÏä§B', 'Ïö©Ï†ëÍ∏∞'],
    'max_temp': [40.0, 45.0, 60.0]  # ÌóàÏö© ÏµúÎåÄ Ïò®ÎèÑ
})

print("=== sensor_logs ===")
print(sensor_logs)
print("\n=== machines ===")
print(machines)

=== sensor_logs ===
   log_id machine_id         timestamp  temperature    status
0       1       M001  2024-01-01 09:00         35.2    normal
1       2       M001  2024-01-01 09:05         38.5    normal
2       3       M002  2024-01-01 09:00         42.1   warning
3       4       M002  2024-01-01 09:10          NaN   warning
4       5       M001  2024-01-01 09:10         36.0    normal
5       6       M003  2024-01-01 09:00         55.0  critical
6       7       M003  2024-01-01 09:05         58.3  critical
7       8       M002  2024-01-01 09:15         40.0    normal

=== machines ===
  machine_id machine_name  max_temp
0       M001         ÌîÑÎ†àÏä§A      40.0
1       M002         ÌîÑÎ†àÏä§B      45.0
2       M003          Ïö©Ï†ëÍ∏∞      60.0

### temperature Í≤∞Ï∏°ÏπòÎ•º Ìï¥Îãπ Í∏∞Í≥ÑÏùò ÌèâÍ∑† Ïò®ÎèÑÎ°ú Ï±ÑÏö∞Í∏∞

In [12]:
import pandas as pd
import numpy as np

# 1. ÏÉòÌîå Îç∞Ïù¥ÌÑ∞
df = pd.DataFrame({
    'machine_id': ['M001', 'M001', 'M002', 'M002'],
    'temperature': [30, 40, np.nan, 50] # M001ÌèâÍ∑†: 35, M002ÌèâÍ∑†: 50(NaNÏ†úÏô∏ÌïòÎ©¥ 50ÌïòÎÇòÎãàÍπå)
})

print("--- 1. ÏõêÎ≥∏ ---")
print(df)

# 2. Ï∞∏Ï°∞Ìëú ÎßåÎì§Í∏∞ (Dictionary)
# M001 -> 35.0, M002 -> 50.0
mean_dict = df.groupby('machine_id')['temperature'].mean()
print("\n--- 2. Ï∞∏Ï°∞Ìëú (Lookup Table) ---")
print(mean_dict)

# 3. Îß§ÌïëÌïòÍ∏∞ (Ï§ëÍ∞Ñ Îã®Í≥Ñ ÌôïÏù∏! Ï§ëÏöî!)
# ÏõêÎ≥∏ Îç∞Ïù¥ÌÑ∞ ÏòÜÏóê 'ÌèâÍ∑†Í∞í'ÏùÑ Ï´ô ÍπîÏïÑÎ≤ÑÎ¶º
mapped_values = df['machine_id'].map(mean_dict)
print("\n--- 3. Îß§Ìïë Í≤∞Í≥º (Í∞ÄÏÉÅÏùò Ïó¥) ---")
print(mapped_values)
# Í≤∞Í≥º: [35.0, 35.0, 50.0, 50.0]

# 4. Ï±ÑÏö∞Í∏∞
# ÏõêÎ≥∏Ïù¥ NaNÏù∏ Í≥≥Îßå, mapped_valuesÏóêÏÑú Í∞ÄÏ†∏Ïò¥
df['temperature'] = df['temperature'].fillna(mapped_values)
print("\n--- 4. ÏµúÏ¢Ö Í≤∞Í≥º ---")
print(df)

--- 1. ÏõêÎ≥∏ ---
  machine_id  temperature
0       M001         30.0
1       M001         40.0
2       M002          NaN
3       M002         50.0

--- 2. Ï∞∏Ï°∞Ìëú (Lookup Table) ---
machine_id
M001    35.0
M002    50.0
Name: temperature, dtype: float64

--- 3. Îß§Ìïë Í≤∞Í≥º (Í∞ÄÏÉÅÏùò Ïó¥) ---
0    35.0
1    35.0
2    50.0
3    50.0
Name: machine_id, dtype: float64

--- 4. ÏµúÏ¢Ö Í≤∞Í≥º ---
  machine_id  temperature
0       M001         30.0
1       M001         40.0
2       M002         50.0
3       M002         50.0

In [ ]:
sensor_logs['temperature_mean'] = sensor_logs.groupby('machine_id',as_index=False)['temperature'].transform('mean')
print(sensor_logs['temperature'])
print(sensor_logs['temperature'].fillna(sensor_logs['temperature_mean'])) 

# üêö Ïù¥Í≤å ÏòÜÏóêÍ∫ºÍ∞Ä Ï±ÑÏõåÏßÄÎäîÍ±¥ Î≠êÏßÄ ? Ïñ¥Ï∞å ÎêòÎäîÍ±∞ÏßÄ ?  -> ÌèâÍ∑† Íµ¨ÌïòÎäîÍ±¥ ÌñàÎäîÎç∞ nanÏóê Îì§Ïñ¥Í∞ÄÎ†§Î©¥ Î™®Îç∏Ïù¥ ÎèôÏùºÌï¥ÏïºÌïòÍ≥† Ïù¥Îü∞Í≤å ÎÇòÎäî Ï°∞Í±¥Ïù¥ Î∂ôÎäîÎã§Í≥† ÏÉùÍ∞ÅÌñàÎäîÎç∞
# üêö fillna()Í∞Ä ÏàòÌñâÌï†ÎñÑ Í∞ôÏùÄÎ≤àÌò∏(index())Î•º Í∏∞Ï§ÄÏúºÎ°ú Î∂ôÏù∏Îã§  fillna()Îäî "Í∞ôÏùÄ Ïù∏Îç±Ïä§ÎÅºÎ¶¨ Îß§Ïπ≠"Ìï¥ÏÑú Ï±ÑÏö∞Í≥†, map()ÏùÄ "Í∞íÏùÑ ÏÇ¨Ï†ÑÏ≤òÎüº Î≥ÄÌôò"ÌïúÎã§. NaNÏù¥Îì† ÏïÑÎãàÎì† ÏÉÅÍ¥ÄÏóÜÏù¥, machine_idÎßå Î≥¥Í≥† Î≥ÄÌôò!

# üêö Îã§Î•∏Î∞©Î≤ïÎì§ÏùÄ 
# # 1Îã®Í≥Ñ: Ï∞∏Ï°∞Ìëú(Reference Table) ÎßåÎì§Í∏∞
# Í≤∞Í≥º: {'M001': 36.5, 'M002': 41.8, ...} ÌòïÌÉúÏùò SeriesÍ∞Ä ÏÉùÏÑ±Îê® --> mean_dict = sensor_logs.groupby('machine_id')['temperature'].mean()
# 2Îã®Í≥Ñ: mapÏúºÎ°ú Îß§ÌïëÌï¥ÏÑú Ï±ÑÏö∞Í∏∞
# Ìï¥ÏÑù: "ÎÇ¥ machine_idÎ•º Î≥¥Í≥†, ÏúÑÏóêÏÑú ÎßåÎì† Ìëú(mean_dict)ÏóêÏÑú Í∞íÏùÑ Ï∞æÏïÑÏôÄÏÑú(fillna) Ï±ÑÏõåÎùº" 
# sensor_logs['temperature'] = sensor_logs['temperature'].fillna(sensor_logs['machine_id'].map(mean_dict))) 
# --> Îß§Ìïë. Îß§Ìïë Í∞úÎÖê Ï†ïÌôïÌûà Î™®Î•¥Í≤†Ïùå Ìï≠ÏÉÅ.

SyntaxError: unmatched ')' (2065460599.py, line 18)

### statusÍ∞Ä 'critical'Ïù∏ Î°úÍ∑∏Îßå ÌïÑÌÑ∞ÎßÅ

In [3]:
sensor_logs_filter = sensor_logs[sensor_logs['status'] == 'critical'] # üêö ÏàúÍ∞ÑÏ†ÅÏúºÎ°ú Ïù¥Í±∞ ÌñâÏúºÎ°ú ÎÇòÏò§ÎäîÍ±¥ÏßÄ ÏïÑÎãàÎ©¥ Ï∂úÎ†•Ïù¥ Ïñ¥Îñ§ÏãùÏúºÎ°ú ÎêòÎäîÏßÄ Î®∏Î¶¨ÏÜçÏóê ÏïàÍ∑∏Î†§Ïßê
sensor_logs_filter

,log_id,machine_id,timestamp,temperature,status,temperature_mean
5,6,M003,2024-01-01 09:00,55.0,critical,56.65
6,7,M003,2024-01-01 09:05,58.3,critical,56.65

### Í∏∞Í≥Ñ(machine_id)Î≥Ñ ÌèâÍ∑† Ïò®ÎèÑ Íµ¨ÌïòÍ∏∞ (ÏÉà ÌÖåÏù¥Î∏î)

In [4]:
machine_id_temp_mean = sensor_logs.groupby('machine_id',as_index=False)['temperature'].mean()
machine_id_temp_mean

  machine_id  temperature
0       M001    36.566667
1       M002    41.050000
2       M003    56.650000

### sensor_logsÏóê Í∏∞Í≥Ñ Ïù¥Î¶Ñ(machine_name)Í≥º ÌóàÏö© ÏµúÎåÄ Ïò®ÎèÑ(max_temp) Î∂ôÏù¥Í∏∞

In [5]:
# sensorÎ•º Í∏∞Ï§ÄÏúºÎ°ú ÌïòÏó¨Í∏à pd.merge(sensor_logs,machines[['machine_name','max_temp']],how='left',on='machine_id')

sensor_logs_merge = pd.merge(sensor_logs,machines[['machine_id','machine_name','max_temp']],how='left',on='machine_id') # üêö Ï°∞Í±¥ÏùÄ Î¨¥Ï°∞Í±¥ Ìï©ÏπòÎäîÏª¨ÎüºÎÇ¥Ïóê Î∂ôÏñ¥ÏïºÌï®.
sensor_logs_merge.sort_values('machine_id',ascending=True) # Ï°∞ÌöåÎßåÌïúÍ±∞. Î∞òÏòÅx

,log_id,machine_id,timestamp,temperature,status,temperature_mean,machine_name,max_temp
0,1,M001,2024-01-01 09:00,35.2,normal,36.566667,ÌîÑÎ†àÏä§A,40.0
1,2,M001,2024-01-01 09:05,38.5,normal,36.566667,ÌîÑÎ†àÏä§A,40.0
4,5,M001,2024-01-01 09:10,36.0,normal,36.566667,ÌîÑÎ†àÏä§A,40.0
2,3,M002,2024-01-01 09:00,42.1,warning,41.050000,ÌîÑÎ†àÏä§B,45.0
3,4,M002,2024-01-01 09:10,NaN,warning,41.050000,ÌîÑÎ†àÏä§B,45.0
7,8,M002,2024-01-01 09:15,40.0,normal,41.050000,ÌîÑÎ†àÏä§B,45.0
5,6,M003,2024-01-01 09:00,55.0,critical,56.650000,Ïö©Ï†ëÍ∏∞,60.0
6,7,M003,2024-01-01 09:05,58.3,critical,56.650000,Ïö©Ï†ëÍ∏∞,60.0

### 4Î≤à Í≤∞Í≥ºÏóêÏÑú "Ïò®ÎèÑ Ï¥àÍ≥º Ïó¨Î∂Ä" Ïª¨Îüº Ï∂îÍ∞Ä (temperature > max_temp)

In [6]:
sensor_logs_merge['over_temp'] = np.where(sensor_logs_merge['temperature'] > sensor_logs_merge['max_temp'],'ÎπÑÏÉÅ','ÏïàÏ†Ñ')
sensor_logs_merge

,log_id,machine_id,timestamp,temperature,status,temperature_mean,machine_name,max_temp,over_temp
0,1,M001,2024-01-01 09:00,35.2,normal,36.566667,ÌîÑÎ†àÏä§A,40.0,ÏïàÏ†Ñ
1,2,M001,2024-01-01 09:05,38.5,normal,36.566667,ÌîÑÎ†àÏä§A,40.0,ÏïàÏ†Ñ
2,3,M002,2024-01-01 09:00,42.1,warning,41.050000,ÌîÑÎ†àÏä§B,45.0,ÏïàÏ†Ñ
3,4,M002,2024-01-01 09:10,NaN,warning,41.050000,ÌîÑÎ†àÏä§B,45.0,ÏïàÏ†Ñ
4,5,M001,2024-01-01 09:10,36.0,normal,36.566667,ÌîÑÎ†àÏä§A,40.0,ÏïàÏ†Ñ
5,6,M003,2024-01-01 09:00,55.0,critical,56.650000,Ïö©Ï†ëÍ∏∞,60.0,ÏïàÏ†Ñ
6,7,M003,2024-01-01 09:05,58.3,critical,56.650000,Ïö©Ï†ëÍ∏∞,60.0,ÏïàÏ†Ñ
7,8,M002,2024-01-01 09:15,40.0,normal,41.050000,ÌîÑÎ†àÏä§B,45.0,ÏïàÏ†Ñ

### statusÎ≥Ñ Î°úÍ∑∏ Í∞úÏàò Íµ¨ÌïòÍ∏∞

In [7]:
sensor_logs['status'].value_counts()

status
normal      4
warning     2
critical    2
Name: count, dtype: int64

### Í∏∞Í≥ÑÎ≥Ñ ÌèâÍ∑† Ïò®ÎèÑÍ∞Ä ÌóàÏö© ÏµúÎåÄ Ïò®ÎèÑÏùò 80%Î•º ÎÑòÎäî Í∏∞Í≥Ñ Ï∞æÍ∏∞

In [8]:
# Í∏∞Í≥Ñ idÎ≥Ñ ÌèâÍ∑† Ïò®ÎèÑ Íµ¨ÌïòÍ∏∞
# machineÏùò Ï†ïÎ≥¥Îì§Ïù¥Îûë mergeÌïòÍ∏∞ 
# 80% Ï°∞Í±¥ Í±∏Ïñ¥ÏÑú Ï∂îÏ∂úÌïòÍ∏∞ 

sensor_logs['machine_temp_mean'] = sensor_logs.groupby('machine_id',as_index=False)['temperature'].transform('mean') # üêö Groupby indexÏ°∞Ïã¨.  as_index=False
sensor_logs.sort_values('machine_id',ascending=True)

merge_table = pd.merge(sensor_logs,machines,how='inner',on='machine_id')
merge_table

merge_table_80per = merge_table[(merge_table['machine_temp_mean'] / merge_table['max_temp']) > 0.8]
print(merge_table_80per)

   log_id machine_id         timestamp  temperature    status  \
0       1       M001  2024-01-01 09:00         35.2    normal
1       2       M001  2024-01-01 09:05         38.5    normal
2       3       M002  2024-01-01 09:00         42.1   warning
3       4       M002  2024-01-01 09:10          NaN   warning
4       5       M001  2024-01-01 09:10         36.0    normal
5       6       M003  2024-01-01 09:00         55.0  critical
6       7       M003  2024-01-01 09:05         58.3  critical
7       8       M002  2024-01-01 09:15         40.0    normal

   temperature_mean  machine_temp_mean machine_name  max_temp
0         36.566667          36.566667         ÌîÑÎ†àÏä§A      40.0
1         36.566667          36.566667         ÌîÑÎ†àÏä§A      40.0
2         41.050000          41.050000         ÌîÑÎ†àÏä§B      45.0
3         41.050000          41.050000         ÌîÑÎ†àÏä§B      45.0
4         36.566667          36.566667         ÌîÑÎ†àÏä§A      40.0
5         56.650000          56.650000          Ïö©Ï†ëÍ∏∞      60.0
6         56.650000          56.650000          Ïö©Ï†ëÍ∏∞      60.0
7         41.050000          41.050000         ÌîÑÎ†àÏä§B      45.0