## í•´ë‹¹ì—ì„œëŠ” ì¸ë±ìŠ¤ë¡œ ë§Œë“¤ê³  ì»¬ëŸ¼ìì²´ê°€ í•œê°œë¼ì„œ ëª…ì„ ì•ˆì¨ì¤¬ëŠ”ë° ì‹¤ì œì—ì„œëŠ” ê¸°ì…ì„ í•´ì¤€ë‹¤.

### pandas ì²«ë‚  ë°°ìš´ í˜•ë³€í™˜
- datetime ë³€í™˜

In [1]:
import pandas as pd

# ì„¼ì„œ ë°ì´í„°
df = pd.DataFrame({
    'timestamp': ['2024-01-01 09:00', '2024-01-01 09:05', 
                  '2024-01-01 09:10', '2024-01-01 09:15'],
    'temperature': [35.0, 36.5, 38.0, 37.2]
})

print(df)
print(f'\ní˜•ë³€í™˜ ì´ì „ ë°ì´í„° íƒ€ì…: {df['timestamp'].dtype}')

#ê·¼ë° ëª¨ë‘ê°€ ë‚ ì§œë¡œ ê¸°ë¡ì´ ë˜ì–´ìˆê¸°ì— objectë³´ë‹¤ëŠ” ë‚ ì§œ íƒ€ììœ¼ë¡œ ë°”ê¾¸ëŠ”ê²Œ ë‚«ë‹¤ íŒë‹¨.
df['timestamp' ]= pd.to_datetime(df['timestamp'])
print(f'í˜•ë³€í™˜ ì´í›„ ë°ì´í„° íƒ€ì…: {df['timestamp'].dtype}')

          timestamp  temperature
0  2024-01-01 09:00         35.0
1  2024-01-01 09:05         36.5
2  2024-01-01 09:10         38.0
3  2024-01-01 09:15         37.2

í˜•ë³€í™˜ ì´ì „ ë°ì´í„° íƒ€ì…: object
í˜•ë³€í™˜ ì´í›„ ë°ì´í„° íƒ€ì…: datetime64[ns]

### ì¸ë±ìŠ¤ê°€ ì‹œê°„ì´ ë˜ë©´ ì‹œê³„ì—´ ê¸°ëŠ¥ì„ ì‚¬ìš©í• ìˆ˜ ìˆë‹¤.
- datetime ì¸ë±ìŠ¤ ì„¤ì •

In [2]:
df = df.set_index('timestamp')
print(df)

                     temperature
timestamp
2024-01-01 09:00:00         35.0
2024-01-01 09:05:00         36.5
2024-01-01 09:10:00         38.0
2024-01-01 09:15:00         37.2

### ì‹œê³„ì—´ í•¨ìˆ˜ ì‚¬ìš©
- resample 
- rolling

In [3]:
# ğŸš resampleì€ ì‹œê°„ìš© groupbyë¼ ë´ë„ ëœë‹¤. ê¸°ì¤€ì€ í•­ìƒ 00ë¶€í„°ì„ ì„¤ë ¹ ë°ì´í„°ê°€ ëŠ¦ì–´ë„ 00ë¶€í„° ê³„ì‚°ì´ ë“¤ì–´ê°€ëŠ”ê²ƒì´ë‹¤. 
df.resample('10min').mean()

                     temperature
timestamp
2024-01-01 09:00:00        35.75
2024-01-01 09:10:00        37.60

In [4]:
# ğŸš í–‰ìˆ˜ëŠ” ê·¸ëŒ€ë¡œ. ëŒ€ì‹  ì¶©ì¡±ì•ˆí•˜ë©´ NaN. ìµœì†Œ ê¸°ì¤€ì€ min_periodsë¥¼ ì‚¬ìš©
df.rolling(3,min_periods=2).mean()

                     temperature
timestamp
2024-01-01 09:00:00          NaN
2024-01-01 09:05:00    35.750000
2024-01-01 09:10:00    36.500000
2024-01-01 09:15:00    37.233333

### 2

In [5]:
df = pd.DataFrame({
    'day': pd.date_range('2024-01-01', periods=7),
    'sales': [100, 120, 80, 150, 200, 180, 160]
})

print(df)
print(df['day'].dtype)

print('\n ì¸ë±ìŠ¤ ì„¤ì •')
df = df.set_index('day')
print(df)

         day  sales
0 2024-01-01    100
1 2024-01-02    120
2 2024-01-03     80
3 2024-01-04    150
4 2024-01-05    200
5 2024-01-06    180
6 2024-01-07    160
datetime64[ns]

 ì¸ë±ìŠ¤ ì„¤ì •
            sales
day
2024-01-01    100
2024-01-02    120
2024-01-03     80
2024-01-04    150
2024-01-05    200
2024-01-06    180
2024-01-07    160

In [6]:
df['3ì¼_rolling'] = df.rolling(3).mean()

df

            sales  3ì¼_rolling
day
2024-01-01    100         NaN
2024-01-02    120         NaN
2024-01-03     80  100.000000
2024-01-04    150  116.666667
2024-01-05    200  143.333333
2024-01-06    180  176.666667
2024-01-07    160  180.000000

### ì—°ìŠµ ì½”ë“œ 
- 1ì‹œê°„ í‰ê·  , 2ê°œì˜ ì´ë™ í‰ê· ì„ ë‚˜íƒ€ë‚´ê¸°

In [7]:
import pandas as pd

# í…ŒìŠ¤íŠ¸ ë°ì´í„°
df = pd.DataFrame({
    'timestamp': ['2024-01-01 09:00', '2024-01-01 09:30', 
                  '2024-01-01 10:00', '2024-01-01 10:30',
                  '2024-01-01 11:00', '2024-01-01 11:30'],
    'temperature': [35.0, 36.0, 38.0, 39.0, 37.0, 36.5]
})

In [8]:
# ğŸš ì‹œì‘í• ë•Œ dfì˜ ì „ì²´ì ì¸ êµ¬ì„±ì´ë‘ ì–´ë–¤ íƒ€ì…ì¸ì§€ ë¨¼ì € í™•ì¸í•˜ëŠ” ìŠµê´€ ë“¤ì´ê¸°. 
df.info() # timestampê°€ ì˜¤ë¸Œì íŠ¸ íƒ€ì…ì„

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    6 non-null      object
 1   temperature  6 non-null      float64
dtypes: float64(1), object(1)
memory usage: 228.0+ bytes

In [9]:
df.describe()

       temperature
count     6.000000
mean     36.916667
std       1.428869
min      35.000000
25%      36.125000
50%      36.750000
75%      37.750000
max      39.000000

In [10]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [11]:
df

            timestamp  temperature
0 2024-01-01 09:00:00         35.0
1 2024-01-01 09:30:00         36.0
2 2024-01-01 10:00:00         38.0
3 2024-01-01 10:30:00         39.0
4 2024-01-01 11:00:00         37.0
5 2024-01-01 11:30:00         36.5

In [12]:
# ğŸš ì´í›„ì— ì‹œê³„ì—´ì„ ì“°ê³  ì‹¶ë‹¤ë©´ ì‹œê°„ ê´€ë ¨ í”¼ì³ë¥¼ indexë¡œ í•´ì¤€ë‹¤.
df = df.set_index('timestamp')
df

                     temperature
timestamp
2024-01-01 09:00:00         35.0
2024-01-01 09:30:00         36.0
2024-01-01 10:00:00         38.0
2024-01-01 10:30:00         39.0
2024-01-01 11:00:00         37.0
2024-01-01 11:30:00         36.5

In [13]:
# 1ì‹œê°„ í‰ê·  
# ğŸš ê¸°ì¡´ í…Œì´ë¸”ì— ë¶™ì´ëŠ”ê±°ëŠ” ì‚¬ì‹¤ìƒ ë‘ê°œê°€ í•˜ë‚˜ê°€ ë˜ì„œ ê¸°ë³¸ê°’ì¸ left ë¼ë²¨ì—ë§Œ ê°’ì´ ì¡´ì¬í•˜ëŠ”ê²ƒì´ë‹¤.
# ğŸš ë‚˜ë¨¸ì§€ëŠ” NaNìœ¼ë¡œ í‘œì‹œ 
df['1ì‹œê°„í‰ê· '] = df.resample('1h').mean()
print(df['1ì‹œê°„í‰ê· '])
print(df)

# ğŸš ê¸°ì¡´ í…Œì´ë¸”ì— ë¶™ì¼ë•ŒëŠ” NaNì„ ë°©ì§€í•˜ê¸° ìœ„í•´ì„œëŠ” transformìœ¼ë¡œ ì±„ìš°ê¸°ë„ ê°€ëŠ¥í•˜ë‹¤.
df['1ì‹œê°„í‰ê· _ì „ë¶€ì±„ìš°ê¸°'] = df.resample('1h')['temperature'].transform('mean')
print(df['1ì‹œê°„í‰ê· _ì „ë¶€ì±„ìš°ê¸°'])

timestamp
2024-01-01 09:00:00    35.50
2024-01-01 09:30:00      NaN
2024-01-01 10:00:00    38.50
2024-01-01 10:30:00      NaN
2024-01-01 11:00:00    36.75
2024-01-01 11:30:00      NaN
Name: 1ì‹œê°„í‰ê· , dtype: float64
                     temperature  1ì‹œê°„í‰ê·
timestamp
2024-01-01 09:00:00         35.0  35.50
2024-01-01 09:30:00         36.0    NaN
2024-01-01 10:00:00         38.0  38.50
2024-01-01 10:30:00         39.0    NaN
2024-01-01 11:00:00         37.0  36.75
2024-01-01 11:30:00         36.5    NaN
timestamp
2024-01-01 09:00:00    35.50
2024-01-01 09:30:00    35.50
2024-01-01 10:00:00    38.50
2024-01-01 10:30:00    38.50
2024-01-01 11:00:00    36.75
2024-01-01 11:30:00    36.75
Name: 1ì‹œê°„í‰ê· _ì „ë¶€ì±„ìš°ê¸°, dtype: float64

In [14]:
# 2ê°œì˜ ì´ë™í‰ê· 
# ğŸš df['temperture']ë¡œ rollingì´ ê°€ëŠ¥í•œ ì´ìœ ëŠ” ê·¸ëƒ¥ í–‰ì„ í•˜ê¸° ë–„ë¬¸ '1h' ê°™ìœ¼ë©´ ì‹œê°„íƒ€ì…ìœ¼ë¡œë§Œ ê°€ëŠ¥ 
df['2ê°œ_ì´ë™í‰ê· '] = df['temperature'].rolling(2).mean()
print(df)

                     temperature  1ì‹œê°„í‰ê·   1ì‹œê°„í‰ê· _ì „ë¶€ì±„ìš°ê¸°  2ê°œ_ì´ë™í‰ê·
timestamp
2024-01-01 09:00:00         35.0  35.50        35.50      NaN
2024-01-01 09:30:00         36.0    NaN        35.50    35.50
2024-01-01 10:00:00         38.0  38.50        38.50    37.00
2024-01-01 10:30:00         39.0    NaN        38.50    38.50
2024-01-01 11:00:00         37.0  36.75        36.75    38.00
2024-01-01 11:30:00         36.5    NaN        36.75    36.75