## ÌïôÍµê Î≥¥Í±¥Ïã§ ÌÇ§ Í∏∞Î°ùÌëú

### Í∞ÄÏÉÅ Îç∞Ïù¥ÌÑ∞

In [1]:
import numpy as np
import pandas as pd

# ---------------------------------------------------------
# 1) Ïû¨ÌòÑ Í∞ÄÎä•Ìïú ÏãúÎìú Í≥†Ï†ï
# ---------------------------------------------------------
np.random.seed(42)

# ---------------------------------------------------------
# 2) ÏãúÍ∞ÑÏ∂ï ÏÉùÏÑ± (1Î∂Ñ Í∞ÑÍ≤©, 1Ïùº)
# ---------------------------------------------------------
start = "2026-02-02 09:00:00"
periods = 24 * 60  # 1440Î∂Ñ
time_index = pd.date_range(start=start, periods=periods, freq="min")

# ---------------------------------------------------------
# 3) ÏÑ§ÎπÑ 2ÎåÄ ÎßåÎì§Í∏∞
# ---------------------------------------------------------
machine_ids = ["M01", "M02"]

rows = []
i = 0
while i < len(time_index):
    t = time_index[i]

    # M01 Í∏∞Î≥∏ ÏÑºÏÑú(Ï†ïÏÉÅ Î≤îÏúÑ)
    vib_m01 = 1.00 + 0.05 * np.random.randn()
    temp_m01 = 40.0 + 0.30 * np.random.randn()
    press_m01 = 10.0 + 0.10 * np.random.randn()

    # M02 Í∏∞Î≥∏ ÏÑºÏÑú(Ï°∞Í∏à Îã§Î•∏ Î∂ÑÌè¨)
    vib_m02 = 0.95 + 0.06 * np.random.randn()
    temp_m02 = 41.0 + 0.35 * np.random.randn()
    press_m02 = 10.2 + 0.12 * np.random.randn()

    rows.append([t, "M01", vib_m01, temp_m01, press_m01])
    rows.append([t, "M02", vib_m02, temp_m02, press_m02])

    i += 1

df_sensor = pd.DataFrame(
    rows,
    columns=["ts", "machine_id", "vibration", "temperature", "pressure"]
)

# ---------------------------------------------------------
# 4) Î¨∏ÏûêÏó¥ Ïò§Ïóº(Ïã§Î¨¥ ÎäêÎÇå): ÎùºÏù∏Î™Ö/Í≥µÏû•Î™Ö Ïª¨Îüº Ï∂îÍ∞Ä
# ---------------------------------------------------------
df_sensor["line"] = " Line-A "
df_sensor.loc[df_sensor["machine_id"] == "M02", "line"] = "line-a"
df_sensor["plant"] = "Seoul "
df_sensor.loc[df_sensor["machine_id"] == "M02", "plant"] = " seoul"

# ---------------------------------------------------------
# 5) Í≤∞Ï∏°Ïπò Ï£ºÏûÖ (ÎûúÎç§ 10Í∞ú)
# ---------------------------------------------------------
missing_idx = np.random.choice(df_sensor.index, size=10, replace=False)
df_sensor.loc[missing_idx, "temperature"] = np.nan

# ---------------------------------------------------------
# 6) Ï§ëÎ≥µ Ìñâ Ï£ºÏûÖ (ÎûúÎç§ 5Í∞ú ÌñâÏùÑ Î≥µÏ†ú)
# ---------------------------------------------------------
dup_idx = np.random.choice(df_sensor.index, size=5, replace=False)
df_dup = df_sensor.loc[dup_idx].copy()
df_sensor = pd.concat([df_sensor, df_dup], axis=0, ignore_index=True)

# ---------------------------------------------------------
# 7) Ïù¥ÏÉÅÏπò(Ïä§ÌååÏù¥ÌÅ¨) Ï£ºÏûÖ: vibration/tempÎ•º ÌäπÏ†ï ÏãúÏ†êÏóê ÌÅ¨Í≤å ÌäÄÍ≤å Ìï®
#    - Ï¥ù 6Í∞ú Ïä§ÌååÏù¥ÌÅ¨(ÏÑ§ÎπÑÎ≥Ñ 3Í∞ú)
# ---------------------------------------------------------
spike_times_m01 = [
    pd.Timestamp("2026-02-02 11:00:00"),
    pd.Timestamp("2026-02-02 15:30:00"),
    pd.Timestamp("2026-02-02 20:10:00"),
]
spike_times_m02 = [
    pd.Timestamp("2026-02-02 10:20:00"),
    pd.Timestamp("2026-02-02 16:40:00"),
    pd.Timestamp("2026-02-02 22:50:00"),
]

j = 0
while j < len(spike_times_m01):
    t = spike_times_m01[j]
    mask = (df_sensor["ts"] == t) & (df_sensor["machine_id"] == "M01")
    df_sensor.loc[mask, "vibration"] = 3.2
    df_sensor.loc[mask, "temperature"] = 55.0
    j += 1

k = 0
while k < len(spike_times_m02):
    t = spike_times_m02[k]
    mask = (df_sensor["ts"] == t) & (df_sensor["machine_id"] == "M02")
    df_sensor.loc[mask, "vibration"] = 3.6
    df_sensor.loc[mask, "temperature"] = 58.0
    k += 1

# ---------------------------------------------------------
# 8) ÏÑ§ÎπÑ Î©îÌÉÄ ÌÖåÏù¥Î∏î(df_machine) ÏÉùÏÑ± (merge Ïó∞ÏäµÏö©)
# ---------------------------------------------------------
df_machine = pd.DataFrame({
    "machine_id": ["M01", "M02"],
    "model": ["X-100", "X-200"],
    "install_year": [2022, 2021],
    "owner_team": ["alpha", "beta"]
})

# ---------------------------------------------------------
# 9) Í∏∞Î≥∏ ÌôïÏù∏ Ï∂úÎ†•
# ---------------------------------------------------------
print("df_sensor shape:", df_sensor.shape)
print("df_machine shape:", df_machine.shape)
print(df_sensor.head(3))
print(df_machine)

df_sensor shape: (2885, 7)
df_machine shape: (2, 4)
                   ts machine_id  vibration  temperature   pressure      line  \
0 2026-02-02 09:00:00        M01   1.024836    39.958521  10.064769   Line-A
1 2026-02-02 09:00:00        M02   1.041382    40.918046  10.171904    line-a
2 2026-02-02 09:01:00        M01   1.078961    40.230230   9.953053   Line-A

    plant
0  Seoul
1   seoul
2  Seoul
  machine_id  model  install_year owner_team
0        M01  X-100          2022      alpha
1        M02  X-200          2021       beta

In [2]:
df_sensor

,ts,machine_id,vibration,temperature,pressure,line,plant
0,2026-02-02 09:00:00,M01,1.024836,39.958521,10.064769,Line-A,Seoul
1,2026-02-02 09:00:00,M02,1.041382,40.918046,10.171904,line-a,seoul
2,2026-02-02 09:01:00,M01,1.078961,40.230230,9.953053,Line-A,Seoul
3,2026-02-02 09:01:00,M02,0.982554,40.837804,10.144112,line-a,seoul
4,2026-02-02 09:02:00,M01,1.012098,39.426016,9.827508,Line-A,Seoul
...,...,...,...,...,...,...,...
2880,2026-02-02 11:59:00,M02,0.924313,41.525266,10.302027,line-a,seoul
2881,2026-02-02 19:03:00,M01,1.059738,40.268394,9.862714,Line-A,Seoul
2882,2026-02-03 03:52:00,M01,1.044503,39.817822,9.979980,Line-A,Seoul
2883,2026-02-02 09:28:00,M01,0.987731,39.773879,9.911049,Line-A,Seoul
2884,2026-02-03 02:06:00,M02,0.856123,41.050199,10.304583,line-a,seoul

In [3]:
df_sensor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2885 entries, 0 to 2884
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ts           2885 non-null   datetime64[ns]
 1   machine_id   2885 non-null   object
 2   vibration    2885 non-null   float64
 3   temperature  2875 non-null   float64
 4   pressure     2885 non-null   float64
 5   line         2885 non-null   object
 6   plant        2885 non-null   object
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 157.9+ KB

In [4]:
# df_sensor.value_counts(['machine_id','line','plant']) # üêöÏù¥Î†áÍ≤å ÌïòÎ©¥ ÏÑ∏Í∞úÏùò Î¨∂ÏùåÏúºÎ°ú Î≥¥ÎäîÍ±∞ÏûÑ Í∞ÅÍ∞ÅÏùÑ Î≥¥Î†§Î©¥ Îî∞Î°ú ÌååÏïºÌï®.
print(df_sensor['machine_id'].value_counts())
print(df_sensor['line'].value_counts())
print(df_sensor['plant'].value_counts())

machine_id
M01    1443
M02    1442
Name: count, dtype: int64
line
 Line-A     1443
line-a      1442
Name: count, dtype: int64
plant
Seoul     1443
 seoul    1442
Name: count, dtype: int64

In [5]:
df_machine

  machine_id  model  install_year owner_team
0        M01  X-100          2022      alpha
1        M02  X-200          2021       beta

In [6]:
df_machine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   machine_id    2 non-null      object
 1   model         2 non-null      object
 2   install_year  2 non-null      int64
 3   owner_team    2 non-null      object
dtypes: int64(1), object(3)
memory usage: 196.0+ bytes

### ÎØ∏ÏÖò 1. Î¨∏ÏûêÏó¥ ÌëúÏ§ÄÌôî
- lineÍ≥º plantÎ•º ÌëúÏ§ÄÌôîÌï¥ÏÑú ÏÉà Ïª¨Îüº line_std, plant_std ÎßåÎì§Í∏∞
- Í≥µÎ∞± Ï†úÍ±∞ + ÏºÄÏù¥Ïä§ ÌÜµÏùº

In [7]:
# ‚≠êÔ∏è df_sensor['line_std'].replace({"a":"A"},{"l":"L"})
# üêö replace Îäî Ï†ïÌôïÌûà ÏùºÏπòÌï¥ÏïºÎßå Î∞îÍæ∏ÎäîÍ±∞ÏûÑ. Î∂ÄÎ∂ÑÏ†ÅÏúºÎ°ú ÏùºÏπòÌï¥ÎèÑ ÏïàÎ∞îÎÄêÎã§. ÎîïÏÖîÎÑàÎ¶¨ ÌòïÏãùÏùÄ .strÎ•º ÏïàÏç®ÎèÑ ÎêòÍ≥† Î∂ÄÎ∂ÑÏ†ÅÏúºÎ°ú Î∞îÍæ∏Í≥†Ïã∂ÏúºÎ©¥ .str.replace(a,b)Î•º Ìï¥ÏïºÌïúÎã§. 
# üêö ÎòêÌïú Îß§Îã®Í≥ÑÎßàÎã§ strÎ•º Î∂ôÏù¥Í≥† Ìï¥Îãπ Ìï®ÏàòÎ•º ÏûëÏÑ±Ìï¥ÏïºÌï®.

In [8]:
df_sensor['line_std'] = df_sensor['line'].str.strip().replace({"line-a":"Line-A"}) # ÎîïÏÖîÎÑàÎ¶¨ Ïù¥Ïö©Î∞©Î≤ï 
# df_sensor['line_std'] = df_sensor['line'].str.strip().str.replace("a","A").str.replace("l","L") # str Î∂ÄÎ∂Ñ Î≥ÄÌôò Î∞©Î≤ï Ï£ºÏùò üêö Î™®Îëê Î∞îÎÄîÏàòÏûàÏùå. 
df_sensor['line_std']

df_sensor['plant_std'] = df_sensor['plant'].str.strip().str.replace("s","S")
df_sensor['plant_std']

0       Seoul
1       Seoul
2       Seoul
3       Seoul
4       Seoul
        ...
2880    Seoul
2881    Seoul
2882    Seoul
2883    Seoul
2884    Seoul
Name: plant_std, Length: 2885, dtype: object

In [9]:
print(df_sensor['plant_std'].value_counts())
print(df_sensor['line_std'].value_counts())

plant_std
Seoul    2885
Name: count, dtype: int64
line_std
Line-A    2885
Name: count, dtype: int64

### ÎØ∏ÏÖò 2: Ï§ëÎ≥µÏ†úÍ±∞ 
- ["ts", "machine_id"] Í∏∞Ï§ÄÏúºÎ°ú Ï§ëÎ≥µ Ï†úÍ±∞ÌïòÍ≥† Ìñâ ÏàòÍ∞Ä Ï§ÑÏñ¥ÎìúÎäîÏßÄ ÌôïÏù∏

In [10]:
# üêö Ï§ëÎ≥µÌôïÏù∏ ÏûêÏ≤¥Í∞Ä  duplicates / Ï§ëÎ≥µ Ï†úÍ±∞Í∞Ä drop_duplicates 
# --> ÏûòÎ™ªÎêú Ï§ëÎ≥µ ÌôïÏù∏ Î∞©Î≤ï: print(f"Ï§ëÎ≥µ Ï†úÍ±∞Ï†Ñ {df_sensor[["ts","machine_id"]].value_counts()} ÏôÄ Í∞úÏàò {len(df_sensor[["ts","machine_id"]])}\n") 
# --> ÏûòÎ™ªÎêú Ï†úÍ±∞ Î∞©Î≤ï:# print(f"Ï§ëÎ≥µ Ï†úÍ±∞ÌõÑ {df_sensor[["ts","machine_id"]].value_counts()} ÏôÄ Í∞úÏàò {len(df_sensor[["ts","machine_id"]])}")

print(df_sensor.duplicated(subset=["ts","machine_id"]).sum()) # 5Í∞úÏùò Ï§ëÎ≥µ ÌôïÏù∏
df_sensor = df_sensor.drop_duplicates(subset=["ts","machine_id"],keep='first')
print(df_sensor.duplicated(subset=["ts","machine_id"]).sum()) # 0Í∞úÏùò Ï§ëÎ≥µ ÌôïÏù∏

5
0

### ÎØ∏ÏÖò 3: Ïù¥ÏÉÅÏπò ÌÉêÏßÄ
- ÏÑ§ÎπÑÎ≥ÑÎ°ú vibrationÏóê ÎåÄÌï¥
- 3-sigma Í∏∞Ï§Ä Ïù¥ÏÉÅÏπò ÌîåÎûòÍ∑∏ is_anom_3sigma
- IQR Í∏∞Ï§Ä Ïù¥ÏÉÅÏπò ÌîåÎûòÍ∑∏ is_anom_iqr

In [11]:
# 3-sigma 
vibration_std = df_sensor['vibration'].std()
vibration_mean = df_sensor['vibration'].mean()

df_sensor['3sigma_upper'] = vibration_mean + (3 * vibration_std)
df_sensor['3sigma_lower'] = vibration_mean - (3 * vibration_std)

# Ìï¥ÎãπÌïòÎäîÍ≤ÉÎßå ÎÇ®ÍπÄ. Ï¶â Ï†ïÏÉÅÎßå ÎÇ®Í∏¥Í±∞.
df_sensor['is_anom_3sigma_mask'] = (df_sensor['vibration'] >= df_sensor['3sigma_lower']) & (df_sensor['vibration'] <= df_sensor['3sigma_upper'])

/var/folders/bf/_c9d0b9571x410m1fmyxr4yh0000gn/T/ipykernel_5074/1671019210.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sensor['3sigma_upper'] = vibration_mean + (3 * vibration_std)
/var/folders/bf/_c9d0b9571x410m1fmyxr4yh0000gn/T/ipykernel_5074/1671019210.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sensor['3sigma_lower'] = vibration_mean - (3 * vibration_std)
/var/folders/bf/_c9d0b9571x410m1fmyxr4yh0000gn/T/ipykernel_5074/1671019210.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sensor['is_anom_3sigma_mask'] = (df_sensor['vibration'] >= df_sensor['3sigma_lower']) & (df_sensor['vibration'] <= df_sensor['3sigma_upper'])

In [12]:
# IQR
q1 = df_sensor['vibration'].quantile(0.25)
q3 = df_sensor['vibration'].quantile(0.75)

IQR = q3- q1 
# IQR Ìï¥ÎãπÌïòÎäî Î≤îÏúÑÎßå ÎÇ®ÍπÄ.
df_sensor['IQR'] = ((q1 - IQR * 1.5) <= df_sensor['vibration']) & (df_sensor['vibration'] <= (q3 + IQR * 1.5))

/var/folders/bf/_c9d0b9571x410m1fmyxr4yh0000gn/T/ipykernel_5074/782885865.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sensor['IQR'] = ((q1 - IQR * 1.5) <= df_sensor['vibration']) & (df_sensor['vibration'] <= (q3 + IQR * 1.5))

In [13]:
df_3sigma = df_sensor[df_sensor['is_anom_3sigma_mask'] == False]
df_3sigma

,ts,machine_id,vibration,temperature,pressure,line,plant,line_std,plant_std,3sigma_upper,3sigma_lower,is_anom_3sigma_mask,IQR
161,2026-02-02 10:20:00,M02,3.6,58.0,10.029330,line-a,seoul,Line-A,Seoul,1.36022,0.598134,False,False
240,2026-02-02 11:00:00,M01,3.2,55.0,9.865181,Line-A,Seoul,Line-A,Seoul,1.36022,0.598134,False,False
780,2026-02-02 15:30:00,M01,3.2,55.0,10.049202,Line-A,Seoul,Line-A,Seoul,1.36022,0.598134,False,False
921,2026-02-02 16:40:00,M02,3.6,58.0,10.298441,line-a,seoul,Line-A,Seoul,1.36022,0.598134,False,False
1340,2026-02-02 20:10:00,M01,3.2,55.0,9.814816,Line-A,Seoul,Line-A,Seoul,1.36022,0.598134,False,False
1661,2026-02-02 22:50:00,M02,3.6,58.0,10.396296,line-a,seoul,Line-A,Seoul,1.36022,0.598134,False,False

In [14]:
df_3sigma.shape

(6, 13)

In [15]:
df_IQR = df_sensor[df_sensor['IQR'] == False]
df_IQR

,ts,machine_id,vibration,temperature,pressure,line,plant,line_std,plant_std,3sigma_upper,3sigma_lower,is_anom_3sigma_mask,IQR
161,2026-02-02 10:20:00,M02,3.600000,58.000000,10.029330,line-a,seoul,Line-A,Seoul,1.36022,0.598134,False,False
240,2026-02-02 11:00:00,M01,3.200000,55.000000,9.865181,Line-A,Seoul,Line-A,Seoul,1.36022,0.598134,False,False
367,2026-02-02 12:03:00,M02,0.776225,41.730931,10.183249,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
513,2026-02-02 13:16:00,M02,0.777664,40.990370,10.412670,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
657,2026-02-02 14:28:00,M02,0.773577,41.229565,10.223368,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
780,2026-02-02 15:30:00,M01,3.200000,55.000000,10.049202,Line-A,Seoul,Line-A,Seoul,1.36022,0.598134,False,False
921,2026-02-02 16:40:00,M02,3.600000,58.000000,10.298441,line-a,seoul,Line-A,Seoul,1.36022,0.598134,False,False
965,2026-02-02 17:02:00,M02,1.185574,40.270560,10.406964,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
1097,2026-02-02 18:08:00,M02,0.800731,41.446938,10.240563,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
1135,2026-02-02 18:27:00,M02,0.798065,41.238724,10.215141,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
1243,2026-02-02 19:21:00,M02,0.811031,41.300305,10.100616,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
1340,2026-02-02 20:10:00,M01,3.200000,55.000000,9.814816,Line-A,Seoul,Line-A,Seoul,1.36022,0.598134,False,False
1471,2026-02-02 21:15:00,M02,0.800116,41.070161,10.273069,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
1539,2026-02-02 21:49:00,M02,0.779750,40.994186,10.187302,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
1545,2026-02-02 21:52:00,M02,0.775145,41.183128,10.053562,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
1575,2026-02-02 22:07:00,M02,0.759774,41.073710,10.141383,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
1593,2026-02-02 22:16:00,M02,0.759398,41.097679,10.234988,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
1661,2026-02-02 22:50:00,M02,3.600000,58.000000,10.396296,line-a,seoul,Line-A,Seoul,1.36022,0.598134,False,False
1932,2026-02-03 01:06:00,M01,1.154915,39.922547,10.051012,Line-A,Seoul,Line-A,Seoul,1.36022,0.598134,True,False
1967,2026-02-03 01:23:00,M02,0.798663,40.946811,10.327217,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
1969,2026-02-03 01:24:00,M02,0.776029,41.584972,10.091835,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
2221,2026-02-03 03:30:00,M02,0.787547,40.748004,10.089112,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
2241,2026-02-03 03:40:00,M02,0.800431,40.825301,10.343660,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
2246,2026-02-03 03:43:00,M01,1.146770,39.691623,9.828940,Line-A,Seoul,Line-A,Seoul,1.36022,0.598134,True,False
2297,2026-02-03 04:08:00,M02,1.161743,40.564430,10.253979,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
2435,2026-02-03 05:17:00,M02,0.767321,41.357572,10.372364,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
2537,2026-02-03 06:08:00,M02,0.728698,40.717322,10.153012,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
2559,2026-02-03 06:19:00,M02,0.733935,40.754549,10.094902,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
2624,2026-02-03 06:52:00,M01,1.143261,39.729402,10.282422,Line-A,Seoul,Line-A,Seoul,1.36022,0.598134,True,False
2761,2026-02-03 08:00:00,M02,0.773412,40.648572,10.313326,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False
2791,2026-02-03 08:15:00,M02,0.803558,40.935499,10.175299,line-a,seoul,Line-A,Seoul,1.36022,0.598134,True,False

In [16]:
df_IQR.shape

(31, 13)

### ÎØ∏ÏÖò 4: Î¶¨Ìè¨Ìä∏
- ÏÑ§ÎπÑÎ≥Ñ Ïù¥ÏÉÅÏπò Í∞úÏàò(3-sigma)Î•º ÏßëÍ≥ÑÌï¥ÏÑú ÌëúÎ°ú Ï∂úÎ†• 
- Í∞úÏàò, ÎπÑÏú®, ÏãúÍ∞ÑÎåÄ ÎÇòÏò§Í∏∞
- (Î≥¥ÎÑàÏä§) df_machineÍ≥º mergeÌï¥ÏÑú Î™®Îç∏Î™ÖÍπåÏßÄ Î∂ôÏó¨ Ï∂úÎ†•

In [17]:
df_machine

  machine_id  model  install_year owner_team
0        M01  X-100          2022      alpha
1        M02  X-200          2021       beta

In [25]:
# üêö Í∞úÏàò + ÎπÑÏú® + (ÌïÑÏöîÌïòÎ©¥) ÏãúÍ∞ÑÎåÄÎ•º Ïñ¥Ï∞åÎ∂ôÏù¥ÏßÄ ? ÏßëÍ≥ÑÏª¨ÎüºÏóêÏÑú ÎçîÎ∂ôÏù¥Í±∞ .aggÌï¥ÏÑú ÏßëÍ≥ÑÌï®Ïàò Îçî Ïç®ÎèÑ Î≠îÍ∞Ä Í∞ëÏûêÍ∏∞ ÎπÑÏú®Ïù∏Îç∞ countÌï¥Î≤ÑÎ¶¨Î©¥ ÏïàÎêòÎãàÍπå Ïù¥ÏÉÅÌï†Í±∞Í∞ôÏùÄÎç∞ [1,2,3].agg[1,2,3]ÌïòÎ©¥ 11 22 33 Ïù¥Î†áÍ≤å ÎêòÎäîÍ±¥Í∞Ä?
df_report = df_sensor.groupby('machine_id',as_index=False).agg(anom_count = ("is_anom_3sigma_mask",'sum'),total = ("machine_id","count")) # üêö Í≥ÑÏÇ∞ÏóêÏÑú Î≤àÍ±∞Î°úÏõåÏßÄÎãàÍπå Ïù¥Îü¥ÎñÑ Î∂àÎüâÏûêÏ≤¥Î•º ÏÑ∏ÎäîÍ≤ÉÏù¥ Ìñ•ÌõÑÏóê Ï¢ãÎã§ .Ï¶â Î≤îÏúÑ Î∞ñÏùÄ FalseÏù¥ ÏïÑÎãàÎùº Î≤îÏúÑ Î∞ñÏùºÎïåTrue Í∞Ä ÎÇ´Îã§ÎäîÎúª.
df_report['ÎπÑÏú®'] = df_report['anom_count'] / df_report['total']
df_report_plus = pd.merge(df_report,df_machine,how='inner',on='machine_id')
df_report_plus

  machine_id  anom_count  total        ÎπÑÏú®  model  install_year owner_team
0        M01        1437   1440  0.997917  X-100          2022      alpha
1        M02        1437   1440  0.997917  X-200          2021       beta

In [ ]:
# ÏãúÍ∞ÑÎåÄ ÎÇòÏò§Í≤å ÌïòÎäîÎ≤ï 
df_sensor['ts'].dtype
df_sensor['ts'] = pd.to_datetime(df_sensor['ts'])

df_tmp = df_sensor.copy()
df_tmp['hour'] = df_tmp['ts'].dt.hour #üêö df Îäî strÏôÄ Í∞ôÏùÄ datetime ÎèÑÍµ¨ÏÉÅÏûêÏûÑ. 


report_hour = (
    df_tmp.groupby(["machine_id", "hour"], as_index=False)
          .agg(
              anom_cnt=("is_anom_3sigma_mask", "sum"),
              total=("is_anom_3sigma_mask", "size")
          )
)

report_hour["anom_rate"] = report_hour["anom_cnt"] / report_hour["total"]
report_hour = report_hour.sort_values(["machine_id", "hour"])
print(report_hour.head(10))

  machine_id  hour  anom_cnt  total  anom_rate
0        M01     0        60     60        1.0
1        M01     1        60     60        1.0
2        M01     2        60     60        1.0
3        M01     3        60     60        1.0
4        M01     4        60     60        1.0
5        M01     5        60     60        1.0
6        M01     6        60     60        1.0
7        M01     7        60     60        1.0
8        M01     8        60     60        1.0
9        M01     9        60     60        1.0

/var/folders/bf/_c9d0b9571x410m1fmyxr4yh0000gn/T/ipykernel_5074/1625748269.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sensor['ts'] = pd.to_datetime(df_sensor['ts'])